<div class="container">
  <h3>Bir oyalama yaratın</h3>
  <a href="#/" class="btn btn-default">Anasayfa</a>
  <hr />
  <form name="addPollForm" ng-submit="add.addPollToPolls()" novalidate="">
    <div class="form-group">
      <label>Oylamak istediğiniz</label>
      <input type="text" class="form-control" name="question" ng-model="add.poll.question" placeholder="Sormak istediğinizi buraya yazın" ng-required="true">
      <span class="has-error" ng-show="addPollForm.question.$touched && addPollForm.question.$error.required">
        <span class="help-block">Bir soru eklemelisiniz.</span>
      </span>
    </div>
    <div class="form-group">
      <label>Kategori</label>
      <select type="text" class="form-control" name="category" ng-model="add.poll.tag" ng-options="category for category in add.categories" ng-required="true">
        <option value="">-- Bir kategori seçin --</option>
      </select>
      <span class="has-error" ng-show="addPollForm.category.$touched && addPollForm.category.$error.required">
        <span class="help-block">Bir kategori seçmelisiniz.</span>
      </span>
    </div>
    <div class="form-group" ng-repeat="option in add.poll.options">
        <label>Seçenek</label>
        <input type="text" class="form-control" ng-model="option.text" placeholder="Seçenek ekle">
    </div>
    <div class="form-group">
      <button class="btn btn-warning" ng-click="add.addOption()">Bir seçenek ekle</button>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="add.poll.isPrivate"> Özel Oylama
      </label>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="addPollForm.$invalid">Ekle</button>
  </form>
</div>
