<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#/add" class="btn btn-info pull-right">Yeni oylama oluştur</a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12" ng-repeat="poll in main.polls | filter: tagFilter">
      <div class="card">
        <h4>{{poll.question}}<span class="label label-success">Yeni</span></h4>
        <footer>
          <div class="btn-group pull-right" role="group">
            <a href="#/results/{{poll.$id}}" class="btn btn-default">
              Sonuçlara bak <span class="badge">{{poll.votes}}</span>
            </a>
            <a href="#/poll/{{poll.$id}}"><button type="button" class="btn btn-info">Oyla</button></a>
          </div>
          <div class="clearfix"></div>
          <small class="pull-left">Etiketler: <a href="#/{{poll.tag}}">{{poll.tag}}</a></small>
        </footer>
      </div>
    </div>
  </div>
</div>
